label#title {
  color: #7f8a8d;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 3px;
}

scrolledwindow#accounts {
  border-style: solid;
  border-width: 1px;
  border-color: #cacac7;
}

label#name {
  color: #000000;
  font-weight: bold;
}

label#url {
  color: #737373;
}

box#padded {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#listrow {
  border-style: solid;
  border-width: 1px;
  border-color: #cacac7;
  background-color: #f0f0ef;
  padding: 0px;
}

#placeholder {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
